.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

    div {
        margin: 10px;
    }
}


img {
    border-radius: 5px;
    animation: fadeIn ease 4s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.material-icons {
    font-size: 5em;
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: fadeIn ease 4s;
}

.btn {
    border: 0;
    color: #ffffff;
    background-color: #3f51b5d2;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
}