<app-tool-bar [title]="'Image Gallery'"></app-tool-bar>

<div class="container">
    <mat-spinner *ngIf="loading"></mat-spinner>

    <div *ngFor="let picture of pictures">
        <img [src]="picture.cropped_picture" [alt]="picture.id">
    </div>
</div>

<div class="arrows" *ngIf="!loading">
    <button class="btn" (click)="pageDown()">
        <span class="material-icons">keyboard_arrow_left</span>
    </button>
    <p>Page: {{ currentPage }}</p>
    <button class="btn" (click)="pageUp()">
        <span class="material-icons">keyboard_arrow_right</span>
    </button>
</div>